// Place all the styles related to the Finances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  .auth {
    text-align: center;
    width: 100%;
    .b {
      width: 45%;
    }
  }
  th.menu {
    margin-left: 0%;
  }
  h2.money {
    color: green;
  }
  h2.money.minus {
    color: red;
  }
  td {
    border: 1px solid #eee;
  }
  td.money.minus {
    color: red;
  }
  td.money {
    color: green;
  }
  div.span6 {
    width: 47%;
  }
  div.center {
    text-align: center;
  }
  footer {
    p {
      text-align: right;
    }
  }
}
